body {
    margin: 0;
    padding: 0;
    background-color: #34495e;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
}

ul li {
    list-style: none;
}

@media only screen and (max-width: 1140px) {
    body {
        background-color: #3598db;
    }
}