@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Saira+Extra+Condensed:500');

body {
    margin: 0;
    padding: 0;
    background-color: #34495e;
    height: 100%;
    font-family: "Saira Extra Condensed", sans-serif;
    overflow: visible;
}

ul li {
    list-style: none;
}