.characterNameList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    text-align: center;
}

.title {
    text-align: center;
}

.exitModal {
    margin-left: 95%;
    margin-top: 1%;
}

.exitModal:hover {
    cursor: pointer;
}

.modal {
    display: grid;
    align-items: center;
    justify-self: center;
}

.makeStyles-paper-1 {
    height: 90vh;
    width: 90vw;
    margin: 0 auto;
    background-color: #ecf0f1 !important;
}

@media only screen and (max-width: 1140px) {
    .characterNameList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column: 1/1;
        align-items: center;
        justify-self: center;
    }
}