.characterNameList {
    column-count: 3;
    column-fill: auto;
    height: 80%;
}

.title {
    font-size: 2.4rem;
}

.titleName {
    padding: 2%;
}

.exitModal {
    margin-left: 95%;
    margin-top: 1%;
}

.exitModal:hover {
    cursor: pointer;
}

.modal {
    display: grid;
    align-items: center;
    justify-self: center;
}

.characters {
    font-size: 1.6rem;
}

.makeStyles-paper-1 {
    height: 90vh;
    width: 90vw;
    margin: 0 auto;
    background-color: #ecf0f1 !important;
}

@media only screen and (max-width: 1140px) {
    .characterNameList {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column: 1/1;
        align-items: center;
        justify-self: center;
    }

    .title {
        font-size: 2rem;
    }

    .makeStyles-paper-1 {
        width: 100%;
        height: 100vh;
        padding: 0px 0px 0px !important;
    }

    .characters {
        display: none;
    }

    .exitModal {
        margin-left: 85%;
    }
}