.homeContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    width: 100%;
    height: 100vh;
}

.spinner {
    grid-row: 1/10;
    grid-column: 1/5;
    align-self: center;
    justify-self: center;
}

.movieList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #3598db;
    color: white;
    border-radius: 5%;
}

.movieListContainer:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.5);
}

.movieListContainer {
    height: 15vh;
    width: 100%;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    animation-name: fromLeftToRight;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.titleOfMovie {
    padding: 10%;
    margin-top: 15%;
    font-size: 1.4rem;
    grid-column: 1/5;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
}

.dateOfMovie {
    grid-column: 1/5;
    align-self: bottom;
    justify-self: bottom;
    margin: 5%;
}

.movieContainer {
    display: grid;
    grid-gap: 10vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-row: 1/10;
    grid-column: 1/5;
    align-self: center;
    justify-self: center;
}

@media only screen and (max-width: 1140px) {
    .movieContainer {
        display: grid;
        grid-gap: 1vh;
        grid-template-columns: repeat(1, 1fr);
        align-self: center;
        justify-self: center;
    }

    .movieList {
        background-color: #34495e;
        border-radius: 0%;
    }

    .homeContainer {
        height: 100%;
    }

    .dateOfMovie {
        grid-column: 1/5;
        align-self: bottom;
        justify-self: end;
        margin: 5%;
    }

    .movieListContainer {
        width: 100%;
        height: 100%;
    }
}

@keyframes fromLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }

    50% {
        opacity: 0;
        transform: translateX(-150px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}